body {
    margin: 20px;
    align-content: center;
    background-color: whitesmoke;
    background-image: linear-gradient(red, yellow);
}

.hngmanpic {
    max-width: 30px;
    max-height: 200px;
    text-align: center;
}

.solutionGroup{
    display: inline;
    align-content: center;
    text-align: center;
}

img {
    width: 200%;
    align-items: center;
    border: black;
    border-block-end-width: 1px;
}

.quickHelp{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pictureframe{
    display: flex;
    justify-content: center;
}

.container {
    align-content: center;
}

.badge-secondary {
    margin: auto;
    align-self: auto;
    font-size: 50px;
    font-style: italic;
}

.row    {
    align-self: auto;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 100px 100px;
}

.box {
    background-color: #444;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    width: auto;
    height: auto;   
}

.alpha {
    min-width: 20px;
    font-size: smaller;
    background-color: orange;
    margin: 2px 2px 2px 2px;
}

.a {
    grid-column: 1 / span 2;
    height: auto;
    width: auto;
    margin: 10px 5px 10px 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
}

.b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    width: auto;
    height: auto;    
}

.c {
    grid-column: 1 ;
    grid-row: 2 ;
    width: auto;
    height: auto;
}

.d {
    grid-column: 2 ;
    grid-row: 2 ;
    width: auto;
    height: auto;
}

.block {
    background-color: yellow;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    text-align: center;
}

.errors {
    text-align: center;
}

.buttonDisable {
    background-color: black;
}